# AI LLM Keys
OPENAI_API_KEY=

# Exa API Key for Web Crawling
EXA_API_KEY=

# AWS Credentials for Amazon Rekognition
# AWS_ACCESS_KEY_ID=
# AWS_SECRET_ACCESS_KEY=
# AWS_DEFAULT_REGION=
# AWS_S3_BUCKET=
# DATABASE_URL=

# Local PostgreSQL Configuration Example

DATABASE_URL=postgresql://user:password@db:5432/waterforall